# файлы с звуковыми эффектами
*.rsf
# библиотечные файлы - отслеживаются в своих репозиториях
*.bpm
# LCDRu.bpm - в репозитории - 
# Save.bpm - в рнпозитории - 
# включаемые модули. Здесь используется для хранения текущей таблицы рекордов.
*.bpi
